body {
  margin: 0;
  background-color: #282830;
  color:white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
#root {
  max-width: 1024px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin:0 auto;
}
.header__h1 {
  font-size: 30px;
}

.footer {
  display: flex;
  justify-content: right;
  align-items: center;
  margin:0 auto;
  font-size: 10px;
}
.footer__h2{
  font-size: 20px;
}

.content {
  min-height: calc(100vh - 179px);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  justify-items: center;
  color:#9BA3AF;
  text-align: center;
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border: none;
  overflow: hidden;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}
.card-content {
  flex-grow: 3;
}
.card .card-title {
  font-size: 20px;
  padding: 0 5px;
}
.card-action {
  display: flex;
  justify-content: space-between;
}
.card .card-action:last-child {
  border-radius: 35px;
  border: none;
}
.card-image {
  background-color: #282830;
}

.cart {
 position: fixed;
 top:1rem;
 right: 0;
 z-index: 5;
 color: white;
}
@media (min-width: 650px) {
  .cart {
    right:5rem;
  }
}
i.medium {
  font-size: 4rem;
  color: white;
  cursor: pointer;
}

.collection {
  color: black;
}
.collection-item {
 display:grid;
 grid-template-columns: 3fr 1fr 1fr 10px;
 justify-items: center;
 align-items: center;
}
.basket-popup{
  position: fixed;
  border-radius: 1rem;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  min-width: 50vw;
  z-index: 5;
  animation: show ease-in-out 500ms;
}
@media (max-width: 650px) {
  .basket-popup {
    min-width: 85vw;
  }
}

.basket-clear {
  position: absolute;
  top: 0.5rem;
  right:5px;
  cursor: pointer;
  color: white;
}

@keyframes show {
  from {
     top: 70%;
     opacity: 0.7;
    }
  to {
    top: 50%;
    opacity: 1;
  }
}

.collection .collection-item.active {
  background-color: #8BC6EC;
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}

.btn-basket {
  border: 1px solid #0000004f;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 5px;
  border:none;
}

.remove-basket {
  cursor:pointer;
}
.send-color {
  color: black;
  size: 0.5rem;
}

.basket-display-name{
  justify-self: left;
}

#toast-container{
  top: 1rem;
  right:1rem;
}

@media (max-width: 400px) {
  #toast-container{
    left:1rem;
  }
}